<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
 <select id="selectOneAdmin" parameterType="admin" resultType="admin">
 	select
 		admin_id as adminId,
 		admin_pw as adminPw,
 		admin_name as adminName,
 		admin_email as adminEmail,
 		admin_phone as adminPhone
 	from admin 
 	where admin_id=#{adminId} 		
 		and admin_pw=#{adminPw} 		
 </select>
 <select id="selectAllEmployee" resultType="u">
 	select
 		employee_id as id,
 		employee_name as name,
 		employee_email as email,
 		employee_phone as phone,
 		employee_address as address,
 		employee_birth as birth,
 		employee_gender as gender
 		from employee
 </select>
 
 <delete id="selectAllDeleteEmployee" parameterType="string">
 delete from employee where employee_id=#{id}
 </delete>
 
 <select id="findEmployee1" parameterType="string" resultType="u">
 	select
 		employee_id as id,
 		employee_name as name,
 		employee_email as email,
 		employee_phone as phone,
 		employee_address as address,
 		employee_birth as birth,
 		employee_gender as gender
 		from employee
 		where employee_id like '%'||#{searchBox}||'%'
 </select>
 
 <select id="findEmployee2" parameterType="string" resultType="u">
 	select
 		employee_id as id,
 		employee_name as name,
 		employee_email as email,
 		employee_phone as phone,
 		employee_address as address,
 		employee_birth as birth,
 		employee_gender as gender
 		from employee
 		where employee_name like '%'||#{searchBox}||'%'
 </select>
 
 <select id="findEmployee3" parameterType="string" resultType="u">
 	select
 		employee_id as id,
 		employee_name as name,
 		employee_email as email,
 		employee_phone as phone,
 		employee_address as address,
 		employee_birth as birth,
 		employee_gender as gender
 		from employee
 		where employee_phone like '%'||#{searchBox}||'%'
 </select>
 
</mapper>
