<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plan">
  <insert id="insertPlan" parameterType="plan">
  	<selectKey keyProperty="planNo" resultType="int" order="AFTER">
  		SELECT MAX(plan_no) FROM plan
  	</selectKey>
  	INSERT INTO plan VALUES(plan_sequence.NEXTVAL, #{planPublic}, #{planWriter}, #{planTitle}, #{planStart}, #{planEnd}, #{planContent}, 0, #{planThumbnailNo})
  </insert>
  <insert id="insertDay" parameterType="day">
  	INSERT INTO day VALUES(day_sequence.NEXTVAL, #{dayPlan}, #{dayDate}, #{dayLatitude}, #{dayLongitude}, #{dayTitle}, #{dayAddress})
  </insert>
  <delete id="deleteDay">
  	DELETE FROM day WHERE day_plan = #{dayPlan}
  </delete>
  <select id="selectPlanList" parameterType="plan" resultType="plan">
  	SELECT
  		p.plan_no AS planNo,
  		p.plan_public AS planPublic,
  		p.plan_writer AS planWriter,
  		p.plan_title AS planTitle,
  		TO_CHAR(p.plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(p.plan_end, 'YYYY-MM-DD') AS planEnd,
  		p.plan_content AS planContent,
  		p.plan_view AS planView,
  		p.plan_thumbnail_no AS planThumbnailNo,
        (SELECT COUNT(*) FROM like_plan lp1 WHERE lp1.like_plan=p.plan_no) AS planLike,
        (SELECT COUNT(*) FROM share_plan sp1 WHERE sp1.share_plan=p.plan_no) AS planShare,
	    DECODE((SELECT COUNT(*) FROM like_plan lp WHERE lp.like_plan_member = #{planMember} AND lp.like_plan=p.plan_no), 1, 1, 0) AS likeCheck,
	    DECODE((SELECT COUNT(*) FROM share_plan sp WHERE sp.share_plan_member = #{planMember} AND sp.share_plan=p.plan_no), 1, 1, 0) AS shareCheck
    <choose>
    <when test="planDay eq 'recommend'">
	FROM (SELECT * FROM plan ORDER BY (SELECT COUNT(*) FROM like_plan WHERE like_plan=plan_no) DESC)p WHERE ROWNUM &lt;= 3 AND p.plan_public = 'Y'
    </when>
    <when test="planDay eq 'new'">
    FROM (SELECT * FROM plan ORDER BY plan_start DESC)p WHERE ROWNUM &lt;= #{planKind} AND plan_start &gt;= SYSDATE -7 AND p.plan_public = 'Y'
    </when>
    <when test="planDay eq 'view'">
   	FROM (SELECT * FROM plan ORDER BY plan_view DESC)p WHERE ROWNUM &lt;= #{planKind} AND p.plan_public = 'Y'
    </when>
    <otherwise>
	FROM plan p WHERE p.plan_writer = #{planWriter}
    </otherwise>
    </choose>
  </select>
  <select id="selectOnePlan" parameterType="plan" resultType="plan">
  	SELECT
  		p.plan_no AS planNo,
  		p.plan_public AS planPublic,
  		p.plan_title AS planTitle,
  		TO_CHAR(p.plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(p.plan_end, 'YYYY-MM-DD') AS planEnd,
  		p.plan_content AS planContent,
        (SELECT COUNT(*) FROM share_plan sp2 WHERE sp2.share_plan=p.plan_no) AS planShare,
  		p.plan_view AS planView,
  		p.plan_thumbnail_no AS planThumbnailNo,
  		(p.plan_end-p.plan_start) AS planDay
  	FROM plan p WHERE p.plan_no = #{planNo}
  </select>
  <update id="updateViewOnePlan" parameterType="plan">
    UPDATE plan SET plan_view = plan_view+1 WHERE plan_no = #{planNo}
  </update>
  <select id="selectOnePlanDays" parameterType="plan" resultType="day">
  	SELECT
  		day_no AS dayNo,
  		day_plan AS dayPlan,
  		day_date AS dayDate,
  		day_latitude AS dayLatitude,
  		day_longitude AS dayLongitude,
  		day_title AS dayTitle,
  		day_address AS dayAddress
  	FROM day WHERE day_plan = #{planNo}
  </select>
  <select id="insertLikePlan" parameterType="likePlan">
  	INSERT INTO like_plan VALUES(like_plan_sequence.NEXTVAL, #{likePlan}, #{likePlanMember})
  </select>
  <delete id="deleteLikePlan" parameterType="likePlan">
  	DELETE FROM like_plan WHERE like_plan = #{likePlan} AND like_plan_member = #{likePlanMember}
  </delete>
  <insert id="insertSharePlan" parameterType="sharePlan">
  	INSERT INTO share_plan VALUES(share_plan_sequence.NEXTVAL, #{sharePlan}, #{sharePlanMember})
  </insert>
</mapper>